<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin for Amasty InvisibleCaptcha -->
    <type name="Amasty\InvisibleCaptcha\Model\Captcha">
        <plugin name="magenable_captcha_bypass_plugin_amasty_captcha"
            type="Magenable\CaptchaBypass\Plugin\IsCaptchaEnabledPlugin" sortOrder="100"
            disabled="false" />
    </type>
</config>